@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using SportWearManage.Models
@model Product
@{
    List<Category> categories = ViewBag.Categories;
}

<form asp-controller="Product" asp-action="Add" method="post">
    Product Name:<input type="text" asp-for=ProductName />
    <br />Quantity: <input required type="number" asp-for=Quantity />
    <br />Price:<input required type="number" asp-for=Price />
    <br />Added Date:<input required type="date" asp-for=AddedDate />
    <br />Description:<input required type="text" asp-for=Description />
    <br />Image:<input required type="text" asp-for=Image />
    @*<label for="input-img" class="preview">
        <i class="fas fa-cloud-upload-alt"></i>
        <span>Upload to preview image</span>
    </label>
    <input type="file" hidden id="input-img" asp-for=Image />*@
    <br />Source Of Supply:<input required type="text" asp-for=SourceOfSupply />
    <br />Category:
    <select asp-for=CategoryId>
        @foreach (Category c in @ViewBag.Categories)
        {
            <option value=@c.CategoryId>@c.CategoryName</option>
        }
    </select>
    <input required type="hidden" asp-for="AccountId" value="@ViewBag.AccountId" />
    <input type="submit" value="ADD" />
    <br /><a  style="text-decoration: none" href="List">
        <input type="button" value="Return to List of products" />
    </a>
</form>
@*<script>
    function addSuccess() {
        alert("Add product success")
    }
</script>*@